{% extends 'base.html.twig' %}

{% block body %}
	{{ form_start(form) }}

	<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
		<button type="button" class="btn btn-secondary">Filiere</button>
		<div class="btn-group" role="group">
			<button id="btnGroupDrop1" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choisissez un filiere</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				{% for filiere in filieres %}
					<a class="dropdown-item" href="{{path('matiereF' , {'id_filiere' : filiere.id}) }}">{{filiere.Filiere}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<hr class="my-4">


	<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
		<button type="button" class="btn btn-secondary">Niveau</button>
		<div class="btn-group" role="group">
			<button id="btnGroupDrop1" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choisissez un niveau</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				{% for niveau in niveaus %}
					<a class="dropdown-item" href="{{path('matiereN' , {'id_niveau' : niveau.id}) }}">{{ niveau.Niveau }}</a>
				{% endfor %}

			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="form-label mt-4"></label>
		{{ form_row(form.NameMatiere , {'attr' :{'class' : 'form-control' , 'placeholder' : 'Enter Matiere....'}}) }}
	</div>

	<hr class="my-4">
	<div class="d-grid gap-2">
		<button type="submit" class="btn btn-lg btn-success">Register</button>
	</div>
	{{ form_end(form) }}
{% endblock %}
